/* Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Scroll Bar CSS Ends */

.separator-bar-green {
    width: 100%;
    background-color: cadetblue;
    height: 10px;
}

.circular-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border: solid 1px black; */
    margin-top: 5px;
}

.python {
    background-image: url('../assets/python.png');
    background-size: cover;
}

.dialogflow {
    background-image: url('../assets/dialogflow.png');
    background-size: cover;
}

.javascript {
    background-image: url('../assets/JS.png');
    background-size: cover;
}

.docker {
    background-image: url('../assets/docker.png');
    background-size: cover;
    background-position-y: 16px;
    background-repeat: no-repeat;
}

.nodejs {
    background-image: url('../assets/node.png');
    background-size: cover;
}

.angular {
    background-image: url('../assets/angular.png');
    background-size: cover;
}

.flask {
    background-image: url('../assets/flask.png');
    background-size: contain;
    color: black;
    background-position-x: 18px;
}

.git {
    background-image: url('../assets/git.png');
    background-size: cover;
}

.mongodb {
    background-image: url('../assets/mongo.png');
    background-size: contain;
}

.company-name {
    font-size: 1.5rem;
}

.card-shadow {
    border: solid 1px gray;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5px;
    padding: 10px;
}

.body-container {
    margin-bottom: 20px;
}